{% extends "base.html" %}

{% block title %}New Line — NautiBook{% endblock %}

{% block content %}
<a href="/">← Back to Logbook</a>
<h1 style="margin-top:8px">New Logbook Line</h1>

<form method="POST" action="/logbook/new_line" class="card" style="margin-top:12px;display:grid;gap:12px">
    <div class="grid">
        <div>
            <label>AWS</label>
            <input type="number", name="aws" value={{ data.aws if data else 0 }}>
        </div>
        <div>
            <label>AWA</label>
            <input type="number" name="awa" value={{ data.awa if data else 0 }}>
        </div>
        <div>
            <label>État de la mer</label>
            <select name="sea_state" id="sea_state">
              <option value="Calme">Calme</option>
              <option value="Belle">Belle</option>
              <option value="Peu Agitée">Peu Agitée</option>
              <option value="Agitée">Agitée</option>
              <option value="Forte">Forte</option>
              <option value="Très forte">Très forte</option>
              <option value="Grosse">Grosse</option>
              <option value="Très grosse">Très grosse</option>
              <option value="Énorme">Énorme</option>
            </select>
        </div>
        <div>
            <label>Visibilité</label>
            <select name="visibility" id="visibility">
              <option value="Bonne">Bonne</option>
              <option value="Moyenne">Moyenne</option>
              <option value="Mauvaise">Mauvaise</option>
              <option value="Très Mauvaise">Très Mauvaise</option>
            </select>
        </div>
        <div>
            <label>T°</label>
            <input type="number" name="water_temp" value={{ data.water_temp if data else 0 }}>
        </div>
        <div>
            <label>P°</label>
            <input type="number" name="pressure" value={{ data.pressure if data else 0}}>
        </div>
        <div>
            <label>Cap</label>
            <input type="number" name="heading" value={{ data.heading if data else 0 }}>
        </div>
        <div>
            <label>Course over ground</label>
            <input type="number" name="cog" value={{ data.cog if data else 0 }}>
        </div>
        <div>
            <label>Voiles</label>
            <select name="sails" id="sails">
              <option value="Moteur">Moteur</option>
              <option value="GV + Génois">GV + Génois</option>
              <option value="GV 1 Ris + Génois">GV 1 Ris + Génois</option>
              <option value="GV 2 Ris + Génois">GV 2 Ris + Génois</option>
              <option value="GV + Moteur">GV + Moteur</option>
              <option value="+ Appui Moteur">+ Appui Moteur</option>
              <option value="Génois seul">Génois seul</option>
              <option value="GV seule">GV seule</option>
              <option value="GV + Trinq.">GV + Trinq.</option>
              <option value="GV 1 Ris + Trinq.">GV 1 Ris + Trinq.</option>
              <option value="GV 2 Ris + Trinq.">GV 2 Ris + Trinq.</option>
              <option value="Trinq. seule">Trinq. seule</option>
                <option disabled>__________________</option>
              <option value="À sec">À sec</option>
            </select>
        </div>
        <div>
            <label>Log</label>
            <input type="number" name="log" value={{ data.log if data else 0}}>
        </div>
        <div>
            <label>Trip</label>
            <input type="number" name="trip" value={{ data.trip if data else 0}}>
        </div>
        <div>
            <label>Sonde</label>
            <input type="number" name="depth" value={{ data.depth if data else 0}}>
        </div>
        <div>
            <label>Latitude</label>
            <input type="number" step="any" name="position_lat" value={{ data.lat if data else 0}}>
        </div>
        <div>
            <label>Longitude</label>
            <input type="number" step="any" name="position_lon" value={{ data.long if data else 0}}>
        </div>
        <div>
            <label>Speed Over Ground</label>
            <input type="number" step="any" name="sog" value={{ data.sog if data else 0}}>
        </div>
        <div>
            <label>Speed Through Water</label>
            <input type="number" step="any" name="stw" value={{ data.stw if data else 0}}>
        </div>
        <div>
            <label>True Wind Speed (knots)</label>
            <input type="number" step="any" name="tws">
        </div>
    </div>

    <div>
        <label>Notes</label>
        <textarea name="notes" placeholder="Beautiful day sailing..."></textarea>
    </div>

    <div>
        <button type="submit" class="primary">Save Line</button>
    </div>
</form>

{% endblock %}

